rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Lecture seule pour les cartes
    match /cards/{docId} {
      allow read, write: if true;
    }

    // Autoriser l'utilisateur à gérer sa propre collection
		match /collections/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}